button {
  border: none;
  background-color: rgb(72 72 72);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(84 84 84);
}

.equals {
  grid-column: 4 / 5;
  background-color: rgb(32 58 173);
}

.equals:hover {
  background-color: rgb(68 96 221);
}